.logInContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 2.5rem;
    color: white;
}

.titleDiv{
    margin-top: 25vh;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

.input{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #d9d9d9;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

.button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.signInButton {
    background-color: white;
    color: black;
}

.signInButton:hover {
    background-color: #ddd;
}

.registerButton {
    background-color: #e8821c;
    color: white;
}

.registerButton:hover {
    background-color: #c96f16;
}

.error{
    color: red;
    font-size: 1.6rem;
    margin-top: 4rem;
}

@media screen and (max-width: 760px) {

}