.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    min-height: 100vh;
}

.productList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-content: space-between;
}

.filters{
    margin-top: 20vh;
    width: 95%;
    height: auto;
}

@media screen and (max-width: 1170px) {
    .mainContainer {
        padding-top: 0; 
        min-height: 100vh; 
        padding: 0.8rem;
    }

    .productList {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .filters{
        margin-top: 13rem;
    }
}